#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}
#btnContainer{
   text-align: center; 
}
.buttons{
    background-color: rgb(132, 132, 224);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(94, 94, 236);
}